{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://adminmanagement.local.azurestack.external/"
        }
    ],
    "info": {
        "title": "Compute Admin Client",
        "version": "2015-12-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/PlatformImages.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "azsadmin-PlatformImages",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/platformImage": {
            "get": {
                "description": "Returns a list of all platform images.",
                "operationId": "PlatformImages_List",
                "parameters": [
                    {
                        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Location of the resource.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2015-12-01-preview"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of platform images.",
                                    "items": {
                                        "allOf": [
                                            {
                                                "description": "Base resource object.",
                                                "properties": {
                                                    "id": {
                                                        "description": "ID of the resource.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "location": {
                                                        "description": "Location of the resource.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Name of the resource.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "description": "Type of Resource.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object",
                                                "x-ms-azure-resource": true
                                            }
                                        ],
                                        "description": "Platform image represents a virtual machine.",
                                        "properties": {
                                            "properties": {
                                                "description": "Platform image properties.",
                                                "x-ms-client-flatten": true,
                                                "properties": {
                                                    "dataDisks": {
                                                        "description": "Data disks used by the platform image.",
                                                        "items": {
                                                            "description": "Information about datadisk.",
                                                            "properties": {
                                                                "lun": {
                                                                    "description": "Logical unit number.",
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "uri": {
                                                                    "description": "Location of the disk template.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "details": {
                                                        "description": "Information about the image.",
                                                        "properties": {
                                                            "billingPartNumber": {
                                                                "description": "The part number is used to bill for software costs.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "osDisk": {
                                                        "description": "Operating system used for this platform image.",
                                                        "properties": {
                                                            "osType": {
                                                                "description": "Operating system type.",
                                                                "enum": [
                                                                    "Unknown",
                                                                    "Windows",
                                                                    "Linux"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "name": "OsType"
                                                                }
                                                            },
                                                            "uri": {
                                                                "description": "Location of the disk.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "provisioningState": {
                                                        "description": "The provisioning state of the resource.",
                                                        "enum": [
                                                            "Creating",
                                                            "Failed",
                                                            "Succeeded",
                                                            "Canceled"
                                                        ],
                                                        "type": "string",
                                                        "x-ms-enum": {
                                                            "name": "ProvisioningState"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Returns all platform images.",
                "tags": [
                    "PlatformImages"
                ],
                "x-ms-examples": {
                    "Returns a list of all platform images.": {
                        "parameters": {
                            "api-version": "2015-12-01-preview",
                            "location": "local",
                            "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
                        },
                        "responses": {
                            "200": {
                                "body": [
                                    {
                                        "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0",
                                        "location": "local",
                                        "properties": {
                                            "osDisk": {
                                                "osType": "Linux",
                                                "uri": "https://test.blob.local.azurestack.external/test/medium.vhd"
                                            },
                                            "provisioningState": "Creating"
                                        },
                                        "type": "Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/platformImage/publishers/{publisher}/offers/{offer}/skus/{sku}/versions/{version}": {
            "delete": {
                "description": "Delete a platform image",
                "operationId": "PlatformImages_Delete",
                "parameters": [
                    {
                        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Location of the resource.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the publisher.",
                        "in": "path",
                        "name": "publisher",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the offer.",
                        "in": "path",
                        "name": "offer",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the SKU.",
                        "in": "path",
                        "name": "sku",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the resource.",
                        "in": "path",
                        "name": "version",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2015-12-01-preview"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "summary": "Deletes a platform image matching publisher, offer, skus and version",
                "tags": [
                    "PlatformImages"
                ],
                "x-ms-examples": {
                    "Delete a platform image.": {
                        "parameters": {
                            "api-version": "2015-12-01-preview",
                            "location": "local",
                            "offer": "UbuntuServer",
                            "publisher": "Canonical",
                            "sku": "16.04-:LTS",
                            "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
                            "version": "16.04"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                }
            },
            "get": {
                "description": "Returns the specific platform image matching publisher, offer, skus and version.",
                "operationId": "PlatformImages_Get",
                "parameters": [
                    {
                        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Location of the resource.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the publisher.",
                        "in": "path",
                        "name": "publisher",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the offer.",
                        "in": "path",
                        "name": "offer",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the SKU.",
                        "in": "path",
                        "name": "sku",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the resource.",
                        "in": "path",
                        "name": "version",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2015-12-01-preview"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Base resource object.",
                                            "properties": {
                                                "id": {
                                                    "description": "ID of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Location of the resource.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Name of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Type of Resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "Platform image represents a virtual machine.",
                                    "properties": {
                                        "properties": {
                                            "description": "Platform image properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "dataDisks": {
                                                    "description": "Data disks used by the platform image.",
                                                    "items": {
                                                        "description": "Information about datadisk.",
                                                        "properties": {
                                                            "lun": {
                                                                "description": "Logical unit number.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "uri": {
                                                                "description": "Location of the disk template.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "details": {
                                                    "description": "Information about the image.",
                                                    "properties": {
                                                        "billingPartNumber": {
                                                            "description": "The part number is used to bill for software costs.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "osDisk": {
                                                    "description": "Operating system used for this platform image.",
                                                    "properties": {
                                                        "osType": {
                                                            "description": "Operating system type.",
                                                            "enum": [
                                                                "Unknown",
                                                                "Windows",
                                                                "Linux"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "name": "OsType"
                                                            }
                                                        },
                                                        "uri": {
                                                            "description": "Location of the disk.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "provisioningState": {
                                                    "description": "The provisioning state of the resource.",
                                                    "enum": [
                                                        "Creating",
                                                        "Failed",
                                                        "Succeeded",
                                                        "Canceled"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "ProvisioningState"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Returns the requested platform image.",
                "tags": [
                    "PlatformImages"
                ],
                "x-ms-examples": {
                    "Get a platform image by name.": {
                        "parameters": {
                            "api-version": "2015-12-01-preview",
                            "location": "local",
                            "offer": "UbuntuServer",
                            "publisher": "Canonical",
                            "sku": "16.04-:LTS",
                            "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
                            "version": "16.04"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0",
                                    "location": "local",
                                    "properties": {
                                        "osDisk": {
                                            "osType": "Linux",
                                            "uri": "https://test.blob.local.azurestack.external/test/medium.vhd"
                                        },
                                        "provisioningState": "Creating"
                                    },
                                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates a new platform image with given publisher, offer, skus and version.",
                "operationId": "PlatformImages_Create",
                "parameters": [
                    {
                        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Location of the resource.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the publisher.",
                        "in": "path",
                        "name": "publisher",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the offer.",
                        "in": "path",
                        "name": "offer",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the SKU.",
                        "in": "path",
                        "name": "sku",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the resource.",
                        "in": "path",
                        "name": "version",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2015-12-01-preview"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Base resource object.",
                                            "properties": {
                                                "id": {
                                                    "description": "ID of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Location of the resource.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Name of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Type of Resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "Platform image represents a virtual machine.",
                                    "properties": {
                                        "properties": {
                                            "description": "Platform image properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "dataDisks": {
                                                    "description": "Data disks used by the platform image.",
                                                    "items": {
                                                        "description": "Information about datadisk.",
                                                        "properties": {
                                                            "lun": {
                                                                "description": "Logical unit number.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "uri": {
                                                                "description": "Location of the disk template.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "details": {
                                                    "description": "Information about the image.",
                                                    "properties": {
                                                        "billingPartNumber": {
                                                            "description": "The part number is used to bill for software costs.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "osDisk": {
                                                    "description": "Operating system used for this platform image.",
                                                    "properties": {
                                                        "osType": {
                                                            "description": "Operating system type.",
                                                            "enum": [
                                                                "Unknown",
                                                                "Windows",
                                                                "Linux"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "name": "OsType"
                                                            }
                                                        },
                                                        "uri": {
                                                            "description": "Location of the disk.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "provisioningState": {
                                                    "description": "The provisioning state of the resource.",
                                                    "enum": [
                                                        "Creating",
                                                        "Failed",
                                                        "Succeeded",
                                                        "Canceled"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "ProvisioningState"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "CREATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Base resource object.",
                                            "properties": {
                                                "id": {
                                                    "description": "ID of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Location of the resource.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Name of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Type of Resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "Platform image represents a virtual machine.",
                                    "properties": {
                                        "properties": {
                                            "description": "Platform image properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "dataDisks": {
                                                    "description": "Data disks used by the platform image.",
                                                    "items": {
                                                        "description": "Information about datadisk.",
                                                        "properties": {
                                                            "lun": {
                                                                "description": "Logical unit number.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "uri": {
                                                                "description": "Location of the disk template.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "details": {
                                                    "description": "Information about the image.",
                                                    "properties": {
                                                        "billingPartNumber": {
                                                            "description": "The part number is used to bill for software costs.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "osDisk": {
                                                    "description": "Operating system used for this platform image.",
                                                    "properties": {
                                                        "osType": {
                                                            "description": "Operating system type.",
                                                            "enum": [
                                                                "Unknown",
                                                                "Windows",
                                                                "Linux"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "name": "OsType"
                                                            }
                                                        },
                                                        "uri": {
                                                            "description": "Location of the disk.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "provisioningState": {
                                                    "description": "The provisioning state of the resource.",
                                                    "enum": [
                                                        "Creating",
                                                        "Failed",
                                                        "Succeeded",
                                                        "Canceled"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "ProvisioningState"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "ACCEPTED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Base resource object.",
                                            "properties": {
                                                "id": {
                                                    "description": "ID of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Location of the resource.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Name of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Type of Resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "Platform image represents a virtual machine.",
                                    "properties": {
                                        "properties": {
                                            "description": "Platform image properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "dataDisks": {
                                                    "description": "Data disks used by the platform image.",
                                                    "items": {
                                                        "description": "Information about datadisk.",
                                                        "properties": {
                                                            "lun": {
                                                                "description": "Logical unit number.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "uri": {
                                                                "description": "Location of the disk template.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "details": {
                                                    "description": "Information about the image.",
                                                    "properties": {
                                                        "billingPartNumber": {
                                                            "description": "The part number is used to bill for software costs.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "osDisk": {
                                                    "description": "Operating system used for this platform image.",
                                                    "properties": {
                                                        "osType": {
                                                            "description": "Operating system type.",
                                                            "enum": [
                                                                "Unknown",
                                                                "Windows",
                                                                "Linux"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "name": "OsType"
                                                            }
                                                        },
                                                        "uri": {
                                                            "description": "Location of the disk.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "provisioningState": {
                                                    "description": "The provisioning state of the resource.",
                                                    "enum": [
                                                        "Creating",
                                                        "Failed",
                                                        "Succeeded",
                                                        "Canceled"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "ProvisioningState"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Creates a platform image.",
                "tags": [
                    "PlatformImages"
                ],
                "x-ms-examples": {
                    "Creates a new platform image.": {
                        "parameters": {
                            "api-version": "2015-12-01-preview",
                            "location": "local",
                            "newImage": {
                                "properties": {
                                    "osDisk": {
                                        "osType": "Linux",
                                        "uri": "https://test.blob.local.azurestack.external/test/medium.vhd"
                                    }
                                }
                            },
                            "offer": "UbuntuServer",
                            "publisher": "Canonical",
                            "sku": "16.04-:LTS",
                            "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
                            "version": "16.04"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0",
                                    "location": "local",
                                    "properties": {
                                        "osDisk": {
                                            "osType": "Linux",
                                            "uri": "https://test.blob.local.azurestack.external/test/medium.vhd"
                                        },
                                        "provisioningState": "Creating"
                                    },
                                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions"
                                }
                            },
                            "201": {
                                "body": {
                                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0",
                                    "location": "local",
                                    "properties": {
                                        "osDisk": {
                                            "osType": "Linux",
                                            "uri": "https://test.blob.local.azurestack.external/test/medium.vhd"
                                        },
                                        "provisioningState": "Creating"
                                    },
                                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions"
                                }
                            },
                            "202": {
                                "body": {
                                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0",
                                    "location": "local",
                                    "properties": {
                                        "osDisk": {
                                            "osType": "Linux",
                                            "uri": "https://test.blob.local.azurestack.external/test/medium.vhd"
                                        },
                                        "provisioningState": "Creating"
                                    },
                                    "type": "Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions"
                                }
                            }
                        }
                    }
                },
                "x-ms-long-running-operation": true,
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Parameters used to create a new platform image.",
                                "properties": {
                                    "properties": {
                                        "description": "Platform image properties.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "dataDisks": {
                                                "description": "Data disks used by the platform image.",
                                                "items": {
                                                    "description": "Information about datadisk.",
                                                    "properties": {
                                                        "lun": {
                                                            "description": "Logical unit number.",
                                                            "format": "int32",
                                                            "type": "integer"
                                                        },
                                                        "uri": {
                                                            "description": "Location of the disk template.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "details": {
                                                "description": "Information about the image.",
                                                "properties": {
                                                    "billingPartNumber": {
                                                        "description": "The part number is used to bill for software costs.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "osDisk": {
                                                "description": "Operating system used for this platform image.",
                                                "properties": {
                                                    "osType": {
                                                        "description": "Operating system type.",
                                                        "enum": [
                                                            "Unknown",
                                                            "Windows",
                                                            "Linux"
                                                        ],
                                                        "type": "string",
                                                        "x-ms-enum": {
                                                            "name": "OsType"
                                                        }
                                                    },
                                                    "uri": {
                                                        "description": "Location of the disk.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "provisioningState": {
                                                "description": "The provisioning state of the resource.",
                                                "enum": [
                                                    "Creating",
                                                    "Failed",
                                                    "Succeeded",
                                                    "Canceled"
                                                ],
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "name": "ProvisioningState"
                                                }
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "New platform image.",
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "DataDisk": {
                "description": "Information about datadisk.",
                "properties": {
                    "lun": {
                        "description": "Logical unit number.",
                        "format": "int32",
                        "type": "integer"
                    },
                    "uri": {
                        "description": "Location of the disk template.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ImageDetails": {
                "description": "Information about the disk image.",
                "properties": {
                    "billingPartNumber": {
                        "description": "The part number is used to bill for software costs.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "OsDisk": {
                "description": "Operating system disk.",
                "properties": {
                    "osType": {
                        "description": "Operating system type.",
                        "enum": [
                            "Unknown",
                            "Windows",
                            "Linux"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "name": "OsType"
                        }
                    },
                    "uri": {
                        "description": "Location of the disk.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "OsType": {
                "description": "Operating system type.",
                "enum": [
                    "Unknown",
                    "Windows",
                    "Linux"
                ],
                "type": "string",
                "x-ms-enum": {
                    "name": "OsType"
                }
            },
            "PlatformImage": {
                "allOf": [
                    {
                        "description": "Base resource object.",
                        "properties": {
                            "id": {
                                "description": "ID of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "location": {
                                "description": "Location of the resource.",
                                "type": "string"
                            },
                            "name": {
                                "description": "Name of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "type": {
                                "description": "Type of Resource.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object",
                        "x-ms-azure-resource": true
                    }
                ],
                "description": "Platform image represents a virtual machine.",
                "properties": {
                    "properties": {
                        "description": "Platform image properties.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "dataDisks": {
                                "description": "Data disks used by the platform image.",
                                "items": {
                                    "description": "Information about datadisk.",
                                    "properties": {
                                        "lun": {
                                            "description": "Logical unit number.",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "uri": {
                                            "description": "Location of the disk template.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "details": {
                                "description": "Information about the image.",
                                "properties": {
                                    "billingPartNumber": {
                                        "description": "The part number is used to bill for software costs.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "osDisk": {
                                "description": "Operating system used for this platform image.",
                                "properties": {
                                    "osType": {
                                        "description": "Operating system type.",
                                        "enum": [
                                            "Unknown",
                                            "Windows",
                                            "Linux"
                                        ],
                                        "type": "string",
                                        "x-ms-enum": {
                                            "name": "OsType"
                                        }
                                    },
                                    "uri": {
                                        "description": "Location of the disk.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "provisioningState": {
                                "description": "The provisioning state of the resource.",
                                "enum": [
                                    "Creating",
                                    "Failed",
                                    "Succeeded",
                                    "Canceled"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "name": "ProvisioningState"
                                }
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "PlatformImageList": {
                "description": "List of platform images.",
                "items": {
                    "allOf": [
                        {
                            "description": "Base resource object.",
                            "properties": {
                                "id": {
                                    "description": "ID of the resource.",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "location": {
                                    "description": "Location of the resource.",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "Name of the resource.",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "type": {
                                    "description": "Type of Resource.",
                                    "readOnly": true,
                                    "type": "string"
                                }
                            },
                            "type": "object",
                            "x-ms-azure-resource": true
                        }
                    ],
                    "description": "Platform image represents a virtual machine.",
                    "properties": {
                        "properties": {
                            "description": "Platform image properties.",
                            "x-ms-client-flatten": true,
                            "properties": {
                                "dataDisks": {
                                    "description": "Data disks used by the platform image.",
                                    "items": {
                                        "description": "Information about datadisk.",
                                        "properties": {
                                            "lun": {
                                                "description": "Logical unit number.",
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "uri": {
                                                "description": "Location of the disk template.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "details": {
                                    "description": "Information about the image.",
                                    "properties": {
                                        "billingPartNumber": {
                                            "description": "The part number is used to bill for software costs.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "osDisk": {
                                    "description": "Operating system used for this platform image.",
                                    "properties": {
                                        "osType": {
                                            "description": "Operating system type.",
                                            "enum": [
                                                "Unknown",
                                                "Windows",
                                                "Linux"
                                            ],
                                            "type": "string",
                                            "x-ms-enum": {
                                                "name": "OsType"
                                            }
                                        },
                                        "uri": {
                                            "description": "Location of the disk.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "provisioningState": {
                                    "description": "The provisioning state of the resource.",
                                    "enum": [
                                        "Creating",
                                        "Failed",
                                        "Succeeded",
                                        "Canceled"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                        "name": "ProvisioningState"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                },
                "type": "array"
            },
            "PlatformImageParameters": {
                "description": "Parameters used to create a new platform image.",
                "properties": {
                    "properties": {
                        "description": "Platform image properties.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "dataDisks": {
                                "description": "Data disks used by the platform image.",
                                "items": {
                                    "description": "Information about datadisk.",
                                    "properties": {
                                        "lun": {
                                            "description": "Logical unit number.",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "uri": {
                                            "description": "Location of the disk template.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "details": {
                                "description": "Information about the image.",
                                "properties": {
                                    "billingPartNumber": {
                                        "description": "The part number is used to bill for software costs.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "osDisk": {
                                "description": "Operating system used for this platform image.",
                                "properties": {
                                    "osType": {
                                        "description": "Operating system type.",
                                        "enum": [
                                            "Unknown",
                                            "Windows",
                                            "Linux"
                                        ],
                                        "type": "string",
                                        "x-ms-enum": {
                                            "name": "OsType"
                                        }
                                    },
                                    "uri": {
                                        "description": "Location of the disk.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "provisioningState": {
                                "description": "The provisioning state of the resource.",
                                "enum": [
                                    "Creating",
                                    "Failed",
                                    "Succeeded",
                                    "Canceled"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "name": "ProvisioningState"
                                }
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "PlatformImageProperties": {
                "description": "Properties of platform image.",
                "properties": {
                    "dataDisks": {
                        "description": "Data disks used by the platform image.",
                        "items": {
                            "description": "Information about datadisk.",
                            "properties": {
                                "lun": {
                                    "description": "Logical unit number.",
                                    "format": "int32",
                                    "type": "integer"
                                },
                                "uri": {
                                    "description": "Location of the disk template.",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "details": {
                        "description": "Information about the image.",
                        "properties": {
                            "billingPartNumber": {
                                "description": "The part number is used to bill for software costs.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "osDisk": {
                        "description": "Operating system used for this platform image.",
                        "properties": {
                            "osType": {
                                "description": "Operating system type.",
                                "enum": [
                                    "Unknown",
                                    "Windows",
                                    "Linux"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "name": "OsType"
                                }
                            },
                            "uri": {
                                "description": "Location of the disk.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "provisioningState": {
                        "description": "The provisioning state of the resource.",
                        "enum": [
                            "Creating",
                            "Failed",
                            "Succeeded",
                            "Canceled"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "name": "ProvisioningState"
                        }
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "OfferParameter": {
                "description": "Name of the offer.",
                "in": "path",
                "name": "offer",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "SkuParameter": {
                "description": "Name of the SKU.",
                "in": "path",
                "name": "sku",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    }
}